pipeline/PL_DATAFLOW_EMPLOYEE_MAXSALARY.json
{
	"name": "PL_DATAFLOW_EMPLOYEE_MAXSALARY",
	"properties": {
		"activities": [
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_EMPLOYEE_MAXSALARY",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Max_Salary",
					"value": {
						"value": "@activity('Data flow1').output.runStatus.output.sink1.value[0].MaxSalary",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Max_Salary": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}